* {
    box-sizing: border-box;
}

header {
    color: black;
    text-align: center;
    font-family: arial;
    text-decoration:underline;
    font-size: 30px;
    font-weight: bold;
}

main {
    display: flex;
    align-items: flex-start;
    color: black;
    text-align: justify;
    font-family: arial;
    margin-top: 20px;
    gap: 20px;
}

#CuadroVerde {
    border:  solid black 2px;
    background-color: seagreen;
}

#Taxonomía {
    background-color: goldenrod;
    font-family: arial;
    font-weight: bold;
    text-align: center;
    border: solid black 0.5px;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    
}

#primerafoto {
    display: block;
    border: solid black 2px;
    border-color: aliceblue;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 180px;
    width: 270px;
}

#CuadroAzul {
    background-color: steelblue;
    border: solid black 1px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left:10px;
}

h3 {
    margin-left: 10px;
    font-size: 13px;
    font-family: arial;
}

span {
    font-weight: normal;
    font-family: arial;
    font-size: 13px;
}

#Rectángulo {
    width: 300px;
    margin-top: 20px;
    margin-right:10px;
}

.sección1 {
    font-family: arial;
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.sección2 {
    text-align: justify;
    font-family: arial;
    font-size: 16px;
    color: black;
}

#segundafoto {
    flex-direction: column;
    width: 250px;
}

#tercerafoto {
    flex-direction: column;
    width: 240px;
    margin-bottom: 5px;
}

#flexibilidad {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

li{
    flex-direction: column;
    color: black;
    font-family: arial;
    font-size: 16px;
    cursor: pointer;
    color: black;
    transition: 0.3s ease purple;
    text-align: justify;
    font-size: 16px;
}

#RectánguloDos {
    display: flex;
    align-items: flex-start;
}

#visor1 {
    display: none;
    margin: 10px;
}

#visor2 {
    display: none;
    flex-direction: column;
    text-align: justify;
    margin: 10px;
}

#textoAnatomía {
    display: block;
    resize: none;
    width: 488px;
    height: 278px;
    font-family: Arial;
    font-size: 14px;
    border: 1px solid black;
    color: black;
    background-color: white;
    text-align: justify;
    padding:10px;
}

#imagenAnatomía {
    width: 300px;
    height: 300px;  
    display: block;
}

ul {
    margin-right: 10px;
}

#referencias {
    text-align: justify;
    font-family: arial;
    font-size: 12px;
}

li.activo {
    color: purple;
    text-decoration: underline;
    font-weight: bold;
}

#imagenAnatomía {
    opacity: 0;
    transform: scale(0.85);
}

#imagenAnatomía.mostrar {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

#referencias a {
    color: blue;
    text-decoration: underline;
}

@media (min-width: 1025px) and (max-width: 1366px) {

    #textoAnatomía {
        width: 100%;
        max-width: 600px;
        height: auto;
        min-height: 278px;
    }

    #segundafoto, #tercerafoto {
        width: 100%;
        max-width: 250px;
        height: auto;
    }

}

@media (min-width: 769px) and (max-width: 1024px) {

    main {
        flex-direction: column;
    }

    #flexibilidad {
        flex-direction: column;
        gap: 20px;
    }

    #Rectángulo {
        width: 100%;
    }

    #textoAnatomía {
        width: 100%;
        height: auto;
        min-height: 250px;
    }

    #segundafoto, #tercerafoto, #imagenAnatomía {
        width: 100%;
        height: auto;
        max-width: 400px;
    }

}

@media (max-width: 768px) {

    main {
        flex-direction: column;
    }

    #flexibilidad {
        flex-direction: column;
        gap: 15px;
    }

    #Rectángulo {
        width: 100%;
        margin-right: 0;
    }

    #RectánguloDos {
        flex-direction: column;
    }

    #textoAnatomía {
        width: 100%;
        height: auto;
        min-height: 220px;
    }

    #primerafoto, #segundafoto, #tercerafoto, #imagenAnatomía {
        width: 100%;
        height: auto;
    }

    header {
        font-size: 22px;
    }

}